<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Booking Page</title>
</head>
<body>
<H2> Booking Form</H2>

<form method="POST" th:action="@{/booking/save}" th:object="${booking}" >

		
<Input type="hidden" th:field="*{bookId}" required/>

<div class="form-group row">
<label class="col-form-label col-sm-18"> Select Employee Name : </label>
					<div class="col-sm-8">
						<select th:field="*{employee}" class="form-control" required>	
							<th:block th:each="employee : ${listEmp}">
								<option th:text="${employee.empName}" th:value="${employee.empId}" />
							</th:block>
							</select>
				</div>	
					<label class="col-form-label col-sm-18"> Select Customer NRIC : </label>
					<div class="col-sm-8">
						<select th:field="*{customer}" class="form-control" required>
							<th:block th:each="customer : ${listCust}">
								<option th:text="${customer.nric}" th:value="${customer.custId}" />
							</th:block>
							</select>
				</div>	
					<label class="col-form-label col-sm-18"> Select Vehicle Brand : </label>
					<div class="col-sm-8">
						<select th:field="*{vehicle}" class="form-control" required>
							<th:block th:each="veh : ${listVeh}">
								<option th:text="${veh.vehBrand}" th:value="${veh.vehId}" />
							</th:block>
							</select>
									</div>
								</div>
		
						
<div>	<label> Booking Start Date: </label> </div>
	 	<div>	<Input type="date" th:field="*{startDate}" required /> </div>
	
		<div>	<label> Booking End Date: </label> </div>
	 	<div>	<Input type="date" th:field="*{endDate}" required /> </div>
	 	
	 <!-- 	<div>
	 		<div>	<label> Actual End Date </label> </div>
	 			<input type="date" th:field="*{actualEndDate}"  />
	 	
	 	</div>  -->
	 		 	
	 		<div>	<label> Extra Charges: </label> </div>
	 	<div>	<Input type="text" th:field="*{extraCharges}" readonly /> </div>
	 	
	 	<!--	<div>	<label> Deposit: </label> </div>
	 	<div>	<Input type="text" th:field="*{deposit}" required /> </div> -->
	 	
	 	
	 	<div>	<label> Booking Fee: </label> </div>
	 	<div>	<Input type="text" th:field="*{bookingFee}" required /> </div>
	 	 		
	 	<div>	<label> Total Cost: </label> </div>
	 	<div>	<Input type="text" th:field="*{totalCost}" required /> </div>
	 		 		 					<br>
<br>
	 					<button type="Submit">Save Booking</button>
		</form>
 					<br>
<br>
 					<br>
<br>
	<a th:href="@{/booking}"> Back to Booking List </a>

</body>
</html>