<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>New Vehicle Reg</title>
</head>
<body>
<H2> Update Vehicle Form</H2>
			
		<form method="POST" th:action="@{/vehicle/save}" th:object="${Vehicle}" >

	        <Input type="hidden" th:field="*{vehId}"  />
	
		<div>	<label>Vehicle-Type</label> </div>
	 	<div>	<Input type="text" th:field="*{vehType}" required /> </div>
			
		<div>	<label>Vehicle Brand</label> </div>
	 	<div>	<Input type="text" th:field="*{vehBrand}" required /> </div>
	
		
	 <div>	<label>Registration Number</label> </div>
	 	<div>	<Input type="text" th:field="*{vehRegNo}" required /> </div> 
	

	 	
	 	 <div>	<label> Rate/Daily</label> </div>
	 	<div>	<Input type="text" th:field="*{dailyRate}" required /> </div><br>
	 	
            <div text-left>	<label> Veh-Status</label> </div>
	 				<th:block th:each="vehStatus : ${vehStatus}" >
	 	<div>
	 			<input type="radio" th:field="*{vehStatus}" th:text="${vehStatus.name}" th:value="${vehStatus.vehSttsId}" />
	 	
	 	</div>
				</th:block>
		<br>
<br>
	
	 		<button type="submit"> Save Vehicle Details</button>
		
		</form>
		
			<br>
<br>
<a th:href = "@{/vehicle}" >Vehicle List</a>
          <br>
<br>
<br>
<br>
<br>
<br>
          	<div th:replace="common :: footer"></div>
</body>
</html>